@mixin flex( $direction, $wrap, $justify, $align) {
    display:flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
}
@mixin score-inner($left, $top, $width, $height, $index){
    position: absolute;
    left: $left;
    top: $top;
    width: $width;
    height: $height;
    z-index: $index;
}
@mixin top-radius($left-number, $right-number) {
    border-top-left-radius: $left-number;
    border-top-right-radius: $right-number;
}
@mixin bottom-radius($left-number, $right-number) {
    border-bottom-left-radius: $left-number;
    border-bottom-right-radius: $right-number;
}
@mixin transform($origin, $rotate){
    transform-origin: $origin;
    transform: $rotate;

}
@mixin number-speed($position, $right, $top, $bottom){
        position: $position;
        right: $right;
        top: $top;
        bottom: $bottom;
}
